.result-page {
  max-width: 1300px;
  margin: 0 auto;

  .count-link {
    span {
      text-align: center;
      text-decoration: underline;
    }
  }
  .question-sign {
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: 0.8em;
    &::after {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(110%, 0);
      content: "";
      background: url("./image/question.png") center center / cover no-repeat;
      margin-left: 0.2em;
      height: 1.5em;
      width: 1.5em;
      font-size: 0.5em;
    }
  }

  .spinner-border {
    margin: 10% auto;
    display: block;
  }

  .card-holder {
    .car-card {
      box-shadow: 0 0 40px rgba(219, 217, 217, 0.7);
      border-radius: 1.5em;
      border: none;
      .card-heading {
        height: 4.5em;
        display: table-cell;
        vertical-align: middle;
      }
      .btn-danger {
        border-radius: 3em;
      }
      .link-order-danger {
        width: fit-content;
      }
      .link-order-danger::after {
        content: "\2192";
        margin-left: 0.2em;
        font-size: 1.8em;
        line-height: 1em;
        transform: translateY(-0.1em);
      }
    }
  }
}
.what-we-found {
  #vin {
    font-weight: 900 !important;
  }
}
.what-we-found-description {
  border-radius: 3em;
  box-shadow: 0 0 40px rgba(232, 229, 229, 0.35);
  border: 1px solid #9ad8b5;
  .green-border {
    border-bottom: 1px solid #eee;
  }
  @media (max-width: 992px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .result-page {
    .question-sign {
      &::after {
        display: none;
      }
    }
    .car-vin {
      font-size: 1.8em;
    }
  }
  .what-we-found-description {
    border-radius: 1.5em;
    .green-border {
      border-bottom: 1px solid #9ad8b5;
    }
  }
  .card-holder {
    .card {
      .card-heading {
      }
    }
  }
}

@media (max-width: 767px) {
  .card-holder {
    .card {
      .card-heading {
        // height: 6em;
        // display: table-cell;
        // vertical-align: middle;
      }
    }
  }
}
