@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.footer {
  background-color: #e8e8e8;
  .footer_content {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    justify-content: start;
    align-items: end;
    grid-column-gap: 3em;
    grid-template-columns: 4fr 1fr;
    font-weight: 600;

    .logo_block {
      img {
        width: 4em;
      }
    }
    b {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 900;
    }
  }
}

@media (max-width: 768px) {
  .footer .footer_content {
    padding: 1em 1em;
    grid-column-gap: 1em;
    grid-template-columns: 1fr;
    // grid-template-rows: 3fr;

    .text_block {
      order: 1;
    }
    .logo_block {
      order: 2;
      img {
        width: 4em;
      }
    }

    .btn_block {
      grid-column: span 2;
      order: 4;
      * {
        margin: 0 auto;
      }
    }
    .foot_block {
      margin-top: .5em;
      grid-column: span 2;
      order: 5;
      text-align: center;
      * {
        margin: .5em 0 0 0;
      }
    }
  }
}

.footer_links {
  a {
    color: #000;
    text-decoration: underline;
  }
}